<h1>Homepage</h1>

<% if current_user&.admin %>
  <%= link_to "#{current_user.username}'s flower shop", flowers_path, class:"btn btn-sm btn-outline-primary" %>
<% else %>
  <%= link_to 'Shop flowers', flowers_path, class:"btn btn-sm btn-outline-primary" %>
<% end %>
